extends ../layouts/application.pug

block content
  .container
    .row
      .col-12
        .card.shadow.bg-white.rounded-3
          .card-body.p-5
            .display-4.fw-bold.mb-0= 'Привет от Хекслета!'      
            p.lead= 'Практические курсы по программированию'
            a.btn.btn-primary.btn-lg.px-4.mt-3.fw-bold(href="https://hexlet.io")= 'Узнать Больше'