extends ../layouts/application.pug

block header
  = t('views.session.new.signIn')

block content
  .row.justify-content-center
    .col-12.col-md-8
      .card.shadow-sm
        .card-body.row.p-5
          +formFor()(action='/session' method='post')
            +input(signInForm, 'email', errors, t('views.session.new.email'))(type="text" placeholder=t('views.session.new.email'))
            +input(signInForm, 'password', errors, t('views.session.new.password'))(type="password" placeholder=t('views.session.new.password'))
            +submit(signInForm)(value=t('views.session.new.submit'))